body {
    background-color:#fff;
    padding:20px;
    font:14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#727272;
    font-weight:400;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,table,pre,dl { margin:0 0 10px; }
h1,h2,h3 { line-height:1.1 }
h1 {font-size:28px }
h2 { color:#393939 }
h3,h4,h5,h6 { color:#494949 }
p { text-align: justify;}
a { color:#267CB9;text-decoration:none }
a:hover,a:focus { color:#069;font-weight:bold;}
ul {
    padding: 0px 0px 0px 20px;
}
li {
    margin: 0px;
}
li * {
    display: block;
}
#chaveTitle {
    margin: 40px 0 20px 0;
}
li h3 {
    margin-bottom: 5px;
}
li span {
    font-style: italic;
}
li a{
    margin: 5px 0 5px 0;
}
.alert {
    padding: 10px 20px;
    background-color: #E12020;
    color: white;
    font-weight: bold;
}